@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

body{
  font-family: "Source Serif Pro", serif;
  background: rgb(24, 23, 23);
}

.App {

  /* background: #c31432;
background: -webkit-linear-gradient(to right, #240b36, #c31432); 
background: linear-gradient(to right, #240b36, #c31432);  */
padding: 2rem 1rem;
background: #d3c4c4;
width: 90%;
margin: 2rem auto;
}


