.DogList img {
    width: 300px;
    transition: .5s ease;
}

.DogList img:hover{
    filter: grayscale(5);
    transform: translateY(-4px);
    transition: .5s ease;
    box-shadow: 2px 5px 20px black;

}


hr.underline {
    overflow: visible; /* For IE */
    border-style: solid;
    border-color: white;
    width: 0;
    border-radius: 20px;
}


.DogList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.dog{
    margin-bottom: 2rem;
}

 .dog:hover .underline{
    animation: outline .5s ease-in-out forwards;
}
@keyframes outline{
100% {
   width:80%;
   background: white; 
}
}
